---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('post');

  return posts.map(post => ({
    params: { slug: post.slug }, props: { post },
  }));
}

const { post } = Astro.props;
const { Content, headings } = await post.render();
---
<Layout title={post.data.title}>
  <main class="relative">
    <article class="space-y-5 prose prose-stone dark:prose-invert">
      <Content />
    </article>
  </main>
</Layout>
