---
import Layout from '../../layouts/Layout.astro';

export const prerender = true;

import { getCollection } from 'astro:content';
const posts = await getCollection('post');
---

<Layout title="Blog | Henry Percy">
	<main>
		<section class="prose prose-stone dark:prose-invert">
			<h1 class="mb-4 text-3xl font-bold leading-none tracking-tight md:text-4xl">Blog</h1>
			<p>I am writing this blog to document my journey in Software Development, and to reinforce my learning. I will be covering topics and technologies that I am interested in learning or using at the time.</p>
			<main class="not-prose space-y-4 mt-10">
				{posts
					.filter(post => post.data.published)
					.sort((a, b) => new Date(b.data.publishDate).getTime() - new Date(a.data.publishDate).getTime())
					.map(post => (
						<a href={`posts/${post.slug}`} class="flex items-center gap-x-2 group w-fit">
							<p class="text-stone-600 group-hover:text-stone-900 group-hover:dark:text-stone-50 dark:text-stone-400 transition-colors">{post.data.title}</p>
							<p class="text-stone-400 dark:text-stone-500 group-hover:text-stone-600 group-hover:dark:text-stone-400 text-sm transition-colors">{post.data.publishDate.toLocaleDateString('en-US', { month: 'short', day: 'numeric' })}</p>
						</a>
					)
				)}
			</main>
		</section>
	</main>
</Layout>
