---
import Layout from '../../layouts/Layout.astro';

export const prerender = true;

import { getCollection } from 'astro:content';
const posts = await getCollection('post');
---

<Layout title="Posts | Henry Percy">
	<main class="max-w-3xl mx-auto">
		<section class="prose prose-stone dark:prose-invert min-w-full">
			<h1 class="mb-4 text-3xl font-bold leading-none tracking-tight md:text-4xl">Posts</h1>
			<p>A collection of notes, things I've learned, or interesting stuff I've found online.</p>
			<ul class="not-prose space-y-4 mt-10">
				{posts
					.filter(post => post.data.is_published)
					.sort((a, b) => new Date(b.data.created_at).getTime() - new Date(a.data.created_at).getTime())
					.slice(0, 10)
					.map(post => (
						<li>
							<a href={`posts/${post.slug}`} class="group inline-flex justify-between w-full items-baseline gap-4 sm:inline-flex sm:gap-5">
								<p transition:name={`post-title-${post.slug}`} class="flex-none font-medium max-sm:w-2/3 group-hover:text-stone-900 group-hover:dark:text-stone-50 transition-colors">{post.data.title}</p>
								<span class="m-0 hidden flex-1 sm:block border-t border-dashed border-neutral-300 dark:border-neutral-700"></span>
								<span class="flex-none font-mono text-xs tabular-nums">
									<time datetime={String(post.data.created_at)}>{post.data.created_at.toLocaleDateString('en-US', { month: 'short', day: '2-digit', year: 'numeric' })}</time>
								</span>
							</a>
						</li>
					)
				)}
			</ul>
		</section>
	</main>
</Layout>
