---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';
const posts = await getCollection('post');
---

<Layout title="Blog | Henry Percy">
	<main>
		<section class="prose prose-stone dark:prose-invert">
			<h1>blog</h1>
			<p>I am writing this blog to document my journey into Software Development, and to reinforce my learning. I will be coving topics and technologies that I am interested in leanring or using at the time.</p>
			<main class="not-prose space-y-4 mt-10">
				{posts
					.sort((a, b) => b.data.publishDate - a.data.publishDate)
					.map(post => (
						<a href={`posts/${post.slug}`} class="flex items-center gap-x-2 group w-fit">
							<p class="text-stone-600 group-hover:text-stone-900 group-hover:dark:text-stone-50 dark:text-stone-400 transition-colors" href={`/posts/${post.slug}`}>{post.data.title}</p>
							<p class="text-stone-400 dark:text-stone-500 group-hover:text-stone-600 group-hover:dark:text-stone-400 text-sm transition-colors">{post.data.publishDate.toLocaleDateString('en-US', { month: 'short', day: 'numeric' })}</p>
						</a>
					)
				)}
			</main>
		</section>
	</main>
</Layout>

