---
import Layout from '../layouts/Layout.astro';

export const prerender = true;
---

<Layout title="404 | Henry Percy">
	<main>
		<section class="prose prose-stone dark:prose-invert max-w-4xl">
			<h1>404</h1>
			<img src="/404.jpg" alt="404 page not found" />
		</section>
	</main>
</Layout>
