---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Henry Percy">
	<main class="pt-6">
		<section class="prose prose-stone dark:prose-invert">
			<h1>404</h1>
			<p>This page loaded into another dimension. Try our homepage for more stable reality.</p>
		</section>
	</main>
</Layout>
