---
import Layout from '../layouts/Layout.astro';
import JobSummary from '../components/JobSummary.astro';

export const prerender = true;

import { getCollection } from 'astro:content';
const posts = await getCollection('post');
---

<Layout title="Henry Percy">
	<main class="space-y-5 prose prose-stone dark:prose-invert max-w-3xl">
		<h1 class="mb-4 text-3xl font-bold leading-none tracking-tight md:text-4xl">Henry</h1>
		<p>Hey, I'm a <span class="text-black dark:text-white font-semibold">Software Developer</span> in <span class="text-black dark:text-white font-semibold">London</span>. This site is a place for my notes, ideas, and the occasional project.</p>

		<section>
			<h2>Writing</h2>
			<ul class="not-prose space-y-3">
				{posts
					.filter(post => post.data.published)
					.sort((a, b) => new Date(b.data.publishDate).getTime() - new Date(a.data.publishDate).getTime())
					.slice(0, 3)
					.map(post => (
						<li>
							<a href={`posts/${post.slug}`} class="inline-flex justify-between w-full items-baseline gap-4 sm:inline-flex sm:gap-5">
								<p class="flex-none max-sm:w-2/3 group-hover:text-stone-900 group-hover:dark:text-stone-50 transition-colors">{post.data.title}</p>
								<span class="m-0 hidden flex-1 sm:block border-t border-dashed border-neutral-300 dark:border-neutral-700"></span>
								<span class="flex-none font-mono text-xs tabular-nums">
									<time datetime={String(post.data.publishDate)}>{post.data.publishDate.toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' })}</time>
								</span>
							</a>
						</li>
					)
				)}
			</ul>
		</section>

		<section>
			<h2>Work</h2>
			<JobSummary />
		</section>
	</main>
</Layout>
