---
import Layout from '../layouts/Layout.astro';

export const prerender = true;

import { getCollection } from 'astro:content';
const posts = await getCollection('post');
---

<Layout title="Henry Percy">
	<main class="space-y-5 prose prose-stone dark:prose-invert max-w-3xl">
		<h1 class="mb-4 text-3xl font-bold leading-none tracking-tight md:text-4xl">Henry</h1>
		<p>Hey, I'm a <span class="text-black dark:text-white font-semibold">Software Developer</span> in <span class="text-black dark:text-white font-semibold">London</span>. This site’s a place for my notes, ideas, and the occasional project.</p>

		<section>
			<h2>Writing</h2>
			<ul class="not-prose space-y-4">
				{posts
					.filter(post => post.data.published)
					.sort((a, b) => new Date(b.data.publishDate).getTime() - new Date(a.data.publishDate).getTime())
					.slice(0, 3)
					.map(post => (
						<li>
							<a href={`posts/${post.slug}`} class="inline-flex justify-between w-full items-baseline gap-4 sm:inline-flex sm:gap-5">
								<p class="flex-none max-sm:w-2/3 group-hover:text-stone-900 group-hover:dark:text-stone-50 transition-colors">{post.data.title}</p>
								<span class="m-0 hidden flex-1 sm:block border-t border-dashed border-neutral-300 dark:border-neutral-700"></span>
								<span class="flex-none font-mono text-xs tabular-nums">
									<time datetime={String(post.data.publishDate)}>{post.data.publishDate.toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' })}</time>
								</span>
							</a>
						</li>
					)
				)}
			</ul>
		</section>

		<section>
			<h2>Work</h2>
			<div class="space-y-4">
				<details>
					<summary class="group flex cursor-pointer items-baseline space-x-4">
						<span class="flex-none font-medium group-hover:text-stone-900 group-hover:dark:text-stone-50 transition-colors">
							Rework Digital
						</span>
						<span class="w-full flex-shrink border-t border-dashed border-neutral-300 dark:border-neutral-700"></span>
						<span class="flex-none">
							Software Developer
						</span>
						<span class="flex-none font-mono text-xs tabular-nums">
							<time datetime="2023">2023</time>-<time datetime="2025">25</time>
						</span>
					</summary>
					<p class="mb-8 max-w-3xl prose prose-stone dark:prose-invert text-sm">I currently specialise in developing bespoke digital experiences for e-commerce, primarily using JavaScript, Astro, Vue, and Tailwind. Beyond front-end development, my work also encompasses back-end projects, particularly in building REST APIs with PHP, Laravel, and MySQL.</p>
				</details>
				<details>
					<summary class="group flex cursor-pointer items-baseline space-x-4">
						<span class="flex-none font-medium group-hover:text-stone-900 group-hover:dark:text-stone-50 transition-colors">
							TRIA
						</span>
						<span class="w-full flex-shrink border-t border-dashed border-neutral-300 dark:border-neutral-700"></span>
						<span class="flex-none">
							Technical Delivery Consultant
						</span>
						<span class="flex-none font-mono text-xs tabular-nums">
							<time datetime="2021">2021</time>-<time datetime="2022">22</time>
						</span>
					</summary>
					<p class="mb-8 max-w-3xl prose prose-stone dark:prose-invert text-sm">Working as a Technical Delivery Consultant I focused on hiring professionals such as Software Engineers, Product Managers, and Technical Leaders.</p>
				</details>
				<details>
					<summary class="group flex cursor-pointer items-baseline space-x-4">
						<span class="flex-none font-medium group-hover:text-stone-900 group-hover:dark:text-stone-50 transition-colors">
							<span class="hidden md:block">Faculty of Environment & Technology (UWE)</span><span class="hidden max-md:block">FET (UWE)</span>
						</span>
						<span class="w-full flex-shrink border-t border-dashed border-neutral-300 dark:border-neutral-700"></span>
						<span class="flex-none">
							Software Developer Intern
						</span>
						<span class="flex-none font-mono text-xs tabular-nums">
							<time datetime="2021">2021</time><span>&nbsp;&nbsp;&nbsp;</span>
						</span>
					</summary>
					<p class="mb-8 max-w-3xl prose prose-stone dark:prose-invert text-sm">During a six-month contract, I focused on constructing environmental sensors using Arduino and C++ libraries. This project aimed to develop cost-effective and expendable alternatives to high-priced volatile compound and decibel sensors.</p>
				</details>
			</div>
		</section>
	</main>
</Layout>
