---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Henry Percy">
	<main>
		<section class="space-y-5 prose prose-stone dark:prose-invert">
			<h1>hey, I'm henry</h1>
			<p>Junior Software Developer <span class="text-black dark:text-white font-semibold">building the web</span>, one byte at a time, from <span class="text-black dark:text-white font-semibold">London</span>.</p>
			<p>Welcome to a corner of the internet where code meets storytelling. This is a place where I document my adventures in software development, sharing the lessons, triumphs, and challenges that shape my journey. Dive in and discover the stories behind the code.</p>
			<p>I am writing a blog to document my journey into Software Development to reinforce my learning, and hopefully help others facing similar problems.</p>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam accusantium unde nobis omnis autem debitis, ex adipisci facilis ipsum dolorum facere repudiandae nihil perferendis! Quae explicabo sapiente sint aliquam voluptate. Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, ipsum porro dolorum alias laudantium quo magni exercitationem placeat sit facilis recusandae, vero omnis quia dolorem deserunt error minima iste quis. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam quo consequatur molestiae sed at. Eveniet exercitationem enim assumenda, accusantium, ullam tempore cumque nobis nemo esse a minus sed, ad accusamus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore est ipsum eum eveniet quo quaerat nisi neque molestias id eos dolorum odit, nobis, rem velit fugiat aliquid harum vel blanditiis?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem perferendis, rerum beatae, quidem quod quisquam voluptatibus animi perspiciatis maiores unde culpa cupiditate odio aspernatur dolore minus atque qui reprehenderit vitae!</p>
		</section>
	</main>
</Layout>
