---
import type { MarkdownHeading } from 'astro';

interface Props {
    headings: MarkdownHeading[];
}

const { headings } = Astro.props;

type Heading = {
    slug: string;
    text: string;
}

type Level2Heading = {
    slug: string;
    text: string;
    subheadings: Heading[];
}

const tocHeadings: Level2Heading[] = [];

for (const heading of headings) {
    if (heading.depth === 2) {
        tocHeadings.push({
            slug: heading.slug,
            text: heading.text,
            subheadings: [],
        });
    } else if (heading.depth === 3 && tocHeadings.length > 0) {
        tocHeadings[tocHeadings.length - 1].subheadings.push({
            slug: heading.slug,
            text: heading.text,
        });
    }
}
---

<ol>
    {tocHeadings.map(heading => (
        <li>
            <a href={`#${heading.slug}`} class="hover:text-stone-900 hover:dark:text-stone-50 transition-colors duration-300 text-sm border-b border-b-transparent hover:border-b-stone-400 hover:dark:border-b-stone-500">{heading.text}</a>
            {heading.subheadings.length > 0 && (
                <ol class="pl-4">
                    {heading.subheadings.map(subheading => (
                        <li>
                            <a href={`#${subheading.slug}`} class="hover:text-stone-900 hover:dark:text-stone-50 transition-colors duration-300 text-sm border-b border-b-transparent hover:border-b-stone-400 hover:dark:border-b-stone-500">{subheading.text}</a>
                        </li>
                    ))}
                </ol>
            )}
        </li>
    ))}
</ol>