---
import type { MarkdownHeading } from 'astro';

interface Props {
    headings: MarkdownHeading[];
}

const { headings } = Astro.props;

type Heading = {
    slug: string;
    text: string;
}

type Level2Heading = {
    slug: string;
    text: string;
    subheadings: Heading[];
}

const tocHeadings: Level2Heading[] = [];

for (const heading of headings) {
    if (heading.depth === 2) {
        tocHeadings.push({
            slug: heading.slug,
            text: heading.text,
            subheadings: [],
        });
    } else if (heading.depth === 3 && tocHeadings.length > 0) {
        tocHeadings[tocHeadings.length - 1].subheadings.push({
            slug: heading.slug,
            text: heading.text,
        });
    }
}
---

<ol>
    {tocHeadings.map(heading => (
        <li>
            <a href={`#${heading.slug}`} class="hover:text-stone-900 hover:dark:text-stone-50 transition-colors duration-300 text-sm border-b border-b-transparent hover:border-b-stone-400 hover:dark:border-b-stone-500">{heading.text}</a>
            {heading.subheadings.length > 0 && (
                <ol class="pl-4">
                    {heading.subheadings.map(subheading => (
                        <li>
                            <a href={`#${subheading.slug}`} class="hover:text-stone-900 hover:dark:text-stone-50 transition-colors duration-300 text-sm border-b border-b-transparent hover:border-b-stone-400 hover:dark:border-b-stone-500">{subheading.text}</a>
                        </li>
                    ))}
                </ol>
            )}
        </li>
    ))}
    <li class="mt-4">
        <a href="#top" class="inline-flex items-center gap-1 text-stone-700 dark:text-stone-200 hover:text-stone-900 hover:dark:text-stone-50 transition-colors duration-300 text-sm border-b border-b-transparent hover:border-b-stone-400 hover:dark:border-b-stone-500">
            Back to top
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" class="size-4"><path fill="currentColor" d="m12 10.8l-4.6 4.6L6 14l6-6l6 6l-1.4 1.4z"/></svg>
        </a>
    </li>
</ol>