---
import Books from '../../components/Books.astro';
import Layout from '../../layouts/Layout.astro'

export const prerender = true;;
---

<Layout title="Reading | Henry Percy">
	<main>
		<section class="prose prose-stone dark:prose-invert max-w-4xl">
			<h1 class="mb-4 text-3xl font-bold leading-none tracking-tight md:text-4xl">Reading</h1>
			<p>This is my personal reading log. On it you'll find the books I've read, the book I am currently reading, as well as some information on each one.</p>
			<Books />
		</section>
	</main>
</Layout>
