---
import Layout from '../../layouts/Layout.astro';

export const prerender = true;
---

<Layout title="Work | Henry Percy">
	<main>
		<section class="prose prose-stone dark:prose-invert">
			<h1 class="mb-4 text-3xl font-bold leading-none tracking-tight md:text-4xl">Work</h1>
			<p>I'm a Junior Software Developer currently turning complex ideas into smooth digital experiences on the web.</p>
			<hr>
			<article>
				<h2 class="!mb-1 flex items-baseline gap-2"><span>Rework Digital</span> <a href="https://rework.digital" target="_blank"><svg class="shrink-0 fill-stone-700 dark:fill-stone-300 hover:fill-black hover:dark:fill-white transition-all" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="m16 8.4l-8.9 8.9q-.275.275-.7.275t-.7-.275q-.275-.275-.275-.7t.275-.7L14.6 7H7q-.425 0-.713-.288T6 6q0-.425.288-.713T7 5h10q.425 0 .713.288T18 6v10q0 .425-.288.713T17 17q-.425 0-.713-.288T16 16V8.4Z"/></svg></a></h2>
				<p class="font-light text-stone-400 dark:text-stone-500">Junior Software Developer, 2023</p>
				<p>I currently specialise in developing bespoke digital experiences for e-commerce, primarily using JavaScript <a href="https://astro.build/" target="_blank">Astro</a>, <a href="https://vuejs.org/" target="_blank">Vue</a>, and <a href="https://tailwindcss.com/" target="_blank">Tailwind</a>. This role has given me my first expierence in a production environment, working in TDD to build robust web apps. Additionally, I extend my experience to back-end development, particularly in building REST APIs with PHP, <a href="https://laravel.com/" target="_blank">Laravel</a>, and MySQL, showcasing a well-rounded skillset in web development.</p>
				<!-- <p>I have also pushed myself to become an advocate for better developer practices. I've championed initiatives to enhance both front-end and back-end codebases, including defining clear "Definition of Done" criteria, integrating tools to improve code consistency and DX such as Pest, ESLint, and Prettier.</p> -->
			</article>
			<hr>
			<article>
				<h2 class="!mb-1 flex items-baseline gap-2"><span>Tria Recruitment</span> <a href="https://www.triarecruitment.com" target="_blank"><svg class="shrink-0 fill-stone-700 dark:fill-stone-300 hover:fill-black hover:dark:fill-white transition-all" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="m16 8.4l-8.9 8.9q-.275.275-.7.275t-.7-.275q-.275-.275-.275-.7t.275-.7L14.6 7H7q-.425 0-.713-.288T6 6q0-.425.288-.713T7 5h10q.425 0 .713.288T18 6v10q0 .425-.288.713T17 17q-.425 0-.713-.288T16 16V8.4Z"/></svg></a></h2>
				<p class="font-light text-stone-400 dark:text-stone-500">Delivery Consultant, 2021 - 22</p>
				<p>Working as a Delviery Consultant I focused on hiring professionals such as Software Engineers, Product Managers, and Technical Leaders for clients such as <a href="https://www.bt.com/" target="_blank">BT</a>, <a href="https://www.charlottetilbury.com/uk" target="_blank">Charlotte Tilbury</a>, <a href="https://www.selfridges.com/GB/en/" target="_blank">Selfridges</a>, and <a href="https://www.volkswagen.co.uk/" target="_blank">Volkswagen</a>. This role deepened my understanding of how software teams organise themselves and honed my stakeholder management skills, especially with senior staff.</p>
				<p>Crucially, it was through this role that I realised my potential for a career in Software Development, guiding my professional transition.</p>
			</article>
			<hr>
			<article>
				<h2 class="!mb-1 flex items-baseline gap-2"><span>University of the West of England</span> <a href="https://www.uwe.ac.uk" target="_blank"><svg class="shrink-0 fill-stone-700 dark:fill-stone-300 hover:fill-black hover:dark:fill-white transition-all" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="m16 8.4l-8.9 8.9q-.275.275-.7.275t-.7-.275q-.275-.275-.275-.7t.275-.7L14.6 7H7q-.425 0-.713-.288T6 6q0-.425.288-.713T7 5h10q.425 0 .713.288T18 6v10q0 .425-.288.713T17 17q-.425 0-.713-.288T16 16V8.4Z"/></svg></a></h2>
				<p class="font-light text-stone-400 dark:text-stone-500">Research Assitant, 2021</p>
				<p>During a five-month contract as a Research Assistant, I focused on constructing environmental sensors using Arduino and C++ libraries. This project aimed to develop cost-effective and expendable alternatives to high-priced volatile compound and decibel sensors, employing more affordable components.</p>
				<p>This role not only leveraged my hobbyist programming skills at the time but also served as my introduction to professional Software Development, sparking a keen interest in the field.</p>
			</article>
		</section>
	</main>
</Layout>
