---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Work | Henry Percy">
	<main>
		<section class="prose prose-stone dark:prose-invert">
			<h1 class="mb-4 text-3xl font-bold leading-none tracking-tight md:text-4xl">Work</h1>
			<p>I'm a Junior Software Developer currently turning complex ideas into smooth digital experiences on the web.</p>
			<hr>
			<article>
				<h2 class="!mb-1">Current Company</h2>
				<p class="font-light text-stone-400 dark:text-stone-500">Junior Developer, 2023</p>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore soluta iure delectus quae ab itaque at, natus magni perferendis, consectetur rerum dolore. Illum quo, assumenda alias quibusdam non odit tempore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quae ducimus sit, consequuntur cupiditate assumenda quo doloribus. Consectetur in, ab consequatur, ullam possimus minus expedita fuga dolorem necessitatibus quidem itaque! Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
			</article>
			<article>
				<h2 class="!mb-1">Some Company</h2>
				<p class="font-light text-stone-400 dark:text-stone-500">Job Title, 2021 - 22</p>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore soluta iure delectus quae ab itaque at, natus magni perferendis, consectetur rerum dolore. Illum quo, assumenda alias quibusdam non odit tempore. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
			</article>
		</section>
	</main>
</Layout>
